{% extends "base.html" %}

{% block content %}
    <h1>Add a comment</h1>
    <form method="post">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.comment.label }}
            {{ form.comment(class_='form-control', rows=10) }}
        </div>
        {% if form.comment.errors %}
            {% for error in form.author.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
