{% extends 'base.html' %}

{% block content %}
    <h1>Register</h1>

    <form action="" method="POST" novalidate formnovalidate class="form" role="form">
        {{ form.hidden_tag() }}

        <div class="form-group">
            <label for="{{ form.username.id }}">{{ form.username.label.text }} <a href="{{ url_for('user.login') }}">Already registered? Sign in.</a></label>
            <input type="text" id="{{ form.username.id }}" name="{{ form.username.id }}" class="form-control" required />
            {% if form.username.errors %}
                {% for e in form.username.errors %}
                    <small class="form-text">{{ e }}</small>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.password.id }}">{{ form.password.label.text }}</label>
            <input type="password" id="{{ form.password.id }}" name="{{ form.password.id }}" class="form-control" required />
            {% if form.password.errors %}
                {% for e in form.password.errors %}
                    <small class="form-text">{{ e }}</small>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.retype_password.id }}">{{ form.retype_password.label.text }}</label>
            <input type="password" id="{{ form.retype_password.id }}" name="{{ form.retype_password.id }}" class="form-control" required />
            {% if form.retype_password.errors %}
                {% for e in form.retype_password.errors %}
                    <small class="form-text">{{ e }}</small>
                {% endfor %}
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>
{% endblock %}